<!DOCTYPE html>
<html>
<head>
  <title>Q1Test</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= yield(:body_id) %>">
<%= render :partial => 'header' %>
<div class="container">
  <% flash.each do |k, v| %>
  <div class="row">
    <%= content_tag(:div, v, class: "alert alert-#{k} span4 offset4") %>
  </div>
  <% end %>
  <%= yield %>
  <%= render :partial => 'footer' %>
</div>
</body>
</html>
